# 1) Swedish demographic data

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
#Read the table in the dataframe
link = "https://sv.wikipedia.org/wiki/Sveriges_demografi"
demography = pd.read_html(link, match="Födda")[0] 
demography.head()

,Unnamed: 0,Folkmängd,Födda,Döda,Befolkningsförändringar,Nativiteten (per 1000),Dödstalen (per 1000),Befolkningsförändringar (per 1000),Total fertilitet
0,1900,5 117 000,138 139,86 146,51 993,270,168,102,402
1,1901,5 156 000,139 370,82 772,56 598,270,161,110,404
2,1902,5 187 000,137 364,79 722,57 642,265,154,111,395
3,1903,5 210 000,133 896,78 610,55 286,257,151,106,382
4,1904,5 241 000,134 952,80 152,54 800,257,153,105,383

In [10]:
demography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          121 non-null    int64
 1   Folkmängd                           121 non-null    object
 2   Födda                               121 non-null    object
 3   Döda                                121 non-null    object
 4   Befolkningsförändringar             121 non-null    object
 5   Nativiteten (per 1000)              121 non-null    int64
 6   Dödstalen (per 1000)                121 non-null    int64
 7   Befolkningsförändringar (per 1000)  121 non-null    int64
 8   Total fertilitet                    121 non-null    int64
dtypes: int64(5), object(4)
memory usage: 8.6+ KB

In [11]:
demography.describe()

,Unnamed: 0,Nativiteten (per 1000),Dödstalen (per 1000),Befolkningsförändringar (per 1000),Total fertilitet
count,121.000000,121.000000,121.000000,121.000000,121.000000
mean,1960.000000,157.107438,112.966942,44.057851,225.388430
std,35.073732,46.409913,18.267427,33.705414,65.906673
min,1900.000000,100.000000,87.000000,-7.000000,150.000000
25%,1930.000000,119.000000,100.000000,22.000000,179.000000
50%,1960.000000,144.000000,108.000000,35.000000,200.000000
75%,1990.000000,181.000000,118.000000,64.000000,243.000000
max,2020.000000,270.000000,180.000000,119.000000,404.000000

In [12]:
#Remove spaces
demography.loc[:, ["Folkmängd", "Födda", "Döda", "Befolkningsförändringar"]] = demography.loc[:,["Folkmängd", "Födda", "Döda", "Befolkningsförändringar"]].apply(lambda x: x.str.replace(" ", ""))
demography.head()

,Unnamed: 0,Folkmängd,Födda,Döda,Befolkningsförändringar,Nativiteten (per 1000),Dödstalen (per 1000),Befolkningsförändringar (per 1000),Total fertilitet
0,1900,5117000,138139,86146,51993,270,168,102,402
1,1901,5156000,139370,82772,56598,270,161,110,404
2,1902,5187000,137364,79722,57642,265,154,111,395
3,1903,5210000,133896,78610,55286,257,151,106,382
4,1904,5241000,134952,80152,54800,257,153,105,383

In [13]:
#Rename the Unnamed column
demography = demography.rename({"Unnamed: 0": "År"}, axis=1)
demography.head()

,År,Folkmängd,Födda,Döda,Befolkningsförändringar,Nativiteten (per 1000),Dödstalen (per 1000),Befolkningsförändringar (per 1000),Total fertilitet
0,1900,5117000,138139,86146,51993,270,168,102,402
1,1901,5156000,139370,82772,56598,270,161,110,404
2,1902,5187000,137364,79722,57642,265,154,111,395
3,1903,5210000,133896,78610,55286,257,151,106,382
4,1904,5241000,134952,80152,54800,257,153,105,383

In [15]:
#go backwards in time (before 1900) to see how population has changed in Sweden. Read in the table under history and keep the data of "Folkmängd" from 1570-1865.
older_demography = pd.read_html(link, match="Vid utgången av år")[0]
older_demography

                                   Vid utgången av år  \
                                   Vid utgången av år
0                                                1570
1                                                1650
2                                                1700
3                                                1720
4                                                1755
5                                                1815
6                                                1865
7                                                1900
8                                                2000
9                                                2020
10  Datan avser folkmängden inom Sveriges nuvarand...

                                            Folkmängd  \
                                            Folkmängd
0                                             900 000
1                                           1 225 000
2                                           1 485 000
3                                           1 350 000
4                                           1 878 000
5                                           2 465 000
6                                           4 099 000
7                                           5 140 000
8                                           8 861 000
9                                          10 379 000
10  Datan avser folkmängden inom Sveriges nuvarand...

                                       Årlig tillväxt  \
                                               Totalt
0                                                   —
1                                               4 063
2                                               5 200
3                                              −6 750
4                                              15 086
5                                               9 783
6                                              32 680
7                                              29 743
8                                                 NaN
9                                                 NaN
10  Datan avser folkmängden inom Sveriges nuvarand...


                                             Promille
0                                                   —
1                                                 386
2                                                 386
3                                               −4,75
4                                                 948
5                                                 454
6                                                1022
7                                                 648
8                                                 NaN
9                                                 NaN
10  Datan avser folkmängden inom Sveriges nuvarand...

In [16]:
older_demography.head()

  Vid utgången av år  Folkmängd Årlig tillväxt
  Vid utgången av år  Folkmängd         Totalt Promille
0               1570    900 000              —        —
1               1650  1 225 000          4 063      386
2               1700  1 485 000          5 200      386
3               1720  1 350 000         −6 750    −4,75
4               1755  1 878 000         15 086      948

In [17]:
older_demography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   (Vid utgången av år, Vid utgången av år)  11 non-null     object
 1   (Folkmängd, Folkmängd)                    11 non-null     object
 2   (Årlig tillväxt, Totalt)                  9 non-null      object
 3   (Årlig tillväxt, Promille)                9 non-null      object
dtypes: object(4)
memory usage: 480.0+ bytes